<ion-view view-title="{{film.Title}}" ng-controller="FilmDetailCtlr" ng-init="initPage()">
  <ion-content>

	<div class="list card" >
		<div class="item item-avatar">
		    <h2>{{film.Title}}</h2>
		    <p>{{film.Released}}</p>
		  </div>
		  <div class="item item-body">
		    <img ng-src="{{film.Poster}}">
		    <p ng-bind="film.Plot"></p>
		     <p>
		      <a class="subdued">{{film.imdbRating}}</a>
		    </p>
		</div>


     <button class="button button-fab-bottom-right button-assertive icon ion-android-add waves-effect waves-button waves-light"
     		 ng-click="addPlaylist()">

     </button>

	</div>
  </ion-content>
</ion-view>
